@font-face {
	font-family: 'GraphikKinopoiskLCWeb';
	src: url('./fonts/GraphikKinopoiskLCWeb-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

#app {
	font-family: 'GraphikKinopoiskLCWeb';
	font-weight: 500;
}